<h2>soy una novedad</h2>

<div class="container" style="margin-top: 50px;">

    <div class="row">
        <p class="text-end">Hola {{usuario}} <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesion</a></p>
    </div>
    
</div>